.grid-view { padding-top:20px; }
.grid-view table.items th a {
  display:block;
  position:relative;
}
.grid-view table.items th a .caret {
  display:none;
  position:absolute;
  right:5px;
  top:7px;
}
.grid-view table.items th a.asc .caret { display:block; }
.grid-view table.items th a.desc .caret {
  border-bottom:4px solid #000000;
  border-top:none;
  display:block;
}
.grid-view table.items tr.selected td { background:#eeeeee; }
.grid-view .filters .filter-container { padding:0 15px 0 0; }
.grid-view .filters input, .grid-view .filters select {
  margin-bottom:0;
  width:100%;
}
.grid-view .button-column {
  text-align:center;
  width:68px;
}
.grid-view .checkbox-column { width:15px; }
.grid-view .summary {
  margin-bottom:5px;
  text-align:right;
}
.grid-view .pager { margin-top:5px; }
.grid-view .empty { font-style:italic; }
.grid-view-loading { background:url(../img/loading.gif) no-repeat; }
.list-view { padding-top:20px; }
.list-view .summary {
  margin-bottom:5px;
  text-align:right;
}
.list-view .pager { margin-top:5px; }
.list-view .sorter {
  margin:0 0 5px 0;
  text-align:right;
}
.list-view .sorter ul {
  display:inline;
  list-style:none outside none;
  margin:0;
  padding:0;
}
.list-view .sorter li {
  display:inline;
  margin:0 0 0 5px;
  padding:0;
}
.list-view .sorter a .caret {
  position:absolute;
  right:5px;
  top:7px;
}
.list-view .sorter a .caret.desc .caret {
  border-bottom:4px solid #000000;
  border-top:none;
}
.list-view-loading { background:url(../img/loading.gif) no-repeat; }
.detail-view .null { color:#ffc0cb; }
.detail-view th {
  text-align:right;
  width:160px;
}
span.required { color:#ff0000; }
.form-inline label.error, .form-horizontal label.error, .form-vertical label.error { color:#b94a48; }
.form-inline select.error, .form-inline input.error, .form-inline textarea.error, .form-horizontal select.error, .form-horizontal input.error, .form-horizontal textarea.error, .form-vertical select.error, .form-vertical input.error, .form-vertical textarea.error {
  border-color:#b94a48;
  color:#b94a48;
}
.form-inline select.error:focus, .form-inline input.error:focus, .form-inline textarea.error:focus, .form-horizontal select.error:focus, .form-horizontal input.error:focus, .form-horizontal textarea.error:focus, .form-vertical select.error:focus, .form-vertical input.error:focus, .form-vertical textarea.error:focus { border-color:#953b39; }
.form-inline .help-block.error, .form-inline .help-inline.error, .form-horizontal .help-block.error, .form-horizontal .help-inline.error, .form-vertical .help-block.error, .form-vertical .help-inline.error { color:#b94a48; }

@media (min-width: 481px)
{
	#page {
		padding-top: 60px;
	}
	#page.page-with-jumbotron{
	    padding-top: 20px;
	}
}
@media (max-width: 480px)
{
	.navbar {
		position: relative;
	}
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.container .credit {
  margin: 20px 0;
}

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
/*
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  */
  *zoom: 1;
}

.form-actions:before,
.form-actions:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-actions:after {
  clear: both;
}

@media screen and (min-width:1000px){
	.form-horizontal .form-actions {
	  padding-left: 26%;
	}
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.justified-theme.nav-justified {
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.justified-theme.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
  background-color: #e5e5e5; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
}
.justified-theme.nav-justified > .active > a,
.justified-theme.nav-justified > .active > a:hover,
.justified-theme.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.justified-theme.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.justified-theme.nav-justified > li:last-child > a {
  border-radius: 0 0 5px 5px;
}

@media (max-width: 767px){
	.justified-theme.nav-justified > li:last-child > a {
	   border-bottom: 0; 
	   border-radius: 0 0 5px 5px;
	}
}

@media (min-width: 768px) {
  .justified-theme {
    margin-bottom:5px;
    margin-top:5px;
  }
  .justified-theme.nav-justified {
    max-height: 54px;
  }
  .justified-theme.nav-justified > li > a {
    border-left: 1px solid #fff;
    border-right: 1px solid #d5d5d5;
  }
  .justified-theme.nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .justified-theme.nav-justified > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: 0;
  }
}

.nav.nav-justified > li > a{
	padding-left:0;
    padding-right:0;
}

.navbar-primary {
  background-color: #428bca;
  border-color: #357ebd;
}

.navbar-primary .navbar-brand {
  color: #f5f5f5;
}

.navbar-primary .navbar-brand:hover,
.navbar-primary .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-primary .navbar-text {
  color: #f5f5f5;
}

.navbar-primary .navbar-nav > li > a {
  color: #f5f5f5;
}

.navbar-primary .navbar-nav > li > a:hover,
.navbar-primary .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #3276b1;
}

.navbar-primary .navbar-nav > .active > a,
.navbar-primary .navbar-nav > .active > a:hover,
.navbar-primary .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #3276b1;
}

.navbar-primary .navbar-nav > .disabled > a,
.navbar-primary .navbar-nav > .disabled > a:hover,
.navbar-primary .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}

.navbar-primary .navbar-toggle {
  border-color: #3276b1;
}

.navbar-primary .navbar-toggle:hover,
.navbar-primary .navbar-toggle:focus {
  background-color: #3276b1;
}

.navbar-primary .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-primary .navbar-collapse,
.navbar-primary .navbar-form {
  border-color: #3276b1;
}

.navbar-primary .navbar-nav > .open > a,
.navbar-primary .navbar-nav > .open > a:hover,
.navbar-primary .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #3276b1;
}

.navbar-primary .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-primary .navbar-nav > .dropdown > a .caret {
  border-top-color: #eeeeee;
  border-bottom-color: #eeeeee;
}

.navbar-primary .navbar-nav > .open > a .caret,
.navbar-primary .navbar-nav > .open > a:hover .caret,
.navbar-primary .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-primary .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #3276b1;
  }
  .navbar-primary .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee;
  }
  .navbar-primary .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-primary .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-primary .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-primary .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-primary .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #3276b1;
  }
  .navbar-primary .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-primary .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-primary .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}

.navbar-primary .navbar-link {
  color: #f5f5f5;
}

.navbar-primary .navbar-link:hover {
  color: #ffffff;
}

.navbar-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.navbar-success .navbar-brand {
  color: #f5f5f5;
}

.navbar-success .navbar-brand:hover,
.navbar-success .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-success .navbar-text {
  color: #f5f5f5;
}

.navbar-success .navbar-nav > li > a {
  color: #f5f5f5;
}

.navbar-success .navbar-nav > li > a:hover,
.navbar-success .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}

.navbar-success .navbar-nav > .active > a,
.navbar-success .navbar-nav > .active > a:hover,
.navbar-success .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #47a447;
}

.navbar-success .navbar-nav > .disabled > a,
.navbar-success .navbar-nav > .disabled > a:hover,
.navbar-success .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}

.navbar-success .navbar-toggle {
  border-color: #398439;
}

.navbar-success .navbar-toggle:hover,
.navbar-success .navbar-toggle:focus {
  background-color: #47a447;
}

.navbar-success .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-success .navbar-collapse,
.navbar-success .navbar-form {
  border-color: #398439;
}

.navbar-success .navbar-nav > .open > a,
.navbar-success .navbar-nav > .open > a:hover,
.navbar-success .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #47a447;
}

.navbar-success .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-success .navbar-nav > .dropdown > a .caret {
  border-top-color: #eeeeee;
  border-bottom-color: #eeeeee;
}

.navbar-success .navbar-nav > .open > a .caret,
.navbar-success .navbar-nav > .open > a:hover .caret,
.navbar-success .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-success .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #398439;
  }
  .navbar-success .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee;
  }
  .navbar-success .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-success .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-success .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-success .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-success .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #47a447;
  }
  .navbar-success .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-success .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-success .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}

.navbar-success .navbar-link {
  color: #f5f5f5;
}

.navbar-success .navbar-link:hover {
  color: #ffffff;
}

.navbar-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.navbar-info .navbar-brand {
  color: #f5f5f5;
}

.navbar-info .navbar-brand:hover,
.navbar-info .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-info .navbar-text {
  color: #f5f5f5;
}

.navbar-info .navbar-nav > li > a {
  color: #f5f5f5;
}

.navbar-info .navbar-nav > li > a:hover,
.navbar-info .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}

.navbar-info .navbar-nav > .active > a,
.navbar-info .navbar-nav > .active > a:hover,
.navbar-info .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #39b3d7;
}

.navbar-info .navbar-nav > .disabled > a,
.navbar-info .navbar-nav > .disabled > a:hover,
.navbar-info .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}

.navbar-info .navbar-toggle {
  border-color: #269abc;
}

.navbar-info .navbar-toggle:hover,
.navbar-info .navbar-toggle:focus {
  background-color: #39b3d7;
}

.navbar-info .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-info .navbar-collapse,
.navbar-info .navbar-form {
  border-color: #269abc;
}

.navbar-info .navbar-nav > .open > a,
.navbar-info .navbar-nav > .open > a:hover,
.navbar-info .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #39b3d7;
}

.navbar-info .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-info .navbar-nav > .dropdown > a .caret {
  border-top-color: #eeeeee;
  border-bottom-color: #eeeeee;
}

.navbar-info .navbar-nav > .open > a .caret,
.navbar-info .navbar-nav > .open > a:hover .caret,
.navbar-info .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-info .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #269abc;
  }
  .navbar-info .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee;
  }
  .navbar-info .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-info .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-info .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-info .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-info .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #39b3d7;
  }
  .navbar-info .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-info .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-info .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}

.navbar-info .navbar-link {
  color: #f5f5f5;
}

.navbar-info .navbar-link:hover {
  color: #ffffff;
}

.navbar-warning {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.navbar-warning .navbar-brand {
  color: #f5f5f5;
}

.navbar-warning .navbar-brand:hover,
.navbar-warning .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-warning .navbar-text {
  color: #f5f5f5;
}

.navbar-warning .navbar-nav > li > a {
  color: #f5f5f5;
}

.navbar-warning .navbar-nav > li > a:hover,
.navbar-warning .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}

.navbar-warning .navbar-nav > .active > a,
.navbar-warning .navbar-nav > .active > a:hover,
.navbar-warning .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ed9c28;
}

.navbar-warning .navbar-nav > .disabled > a,
.navbar-warning .navbar-nav > .disabled > a:hover,
.navbar-warning .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}

.navbar-warning .navbar-toggle {
  border-color: #d58512;
}

.navbar-warning .navbar-toggle:hover,
.navbar-warning .navbar-toggle:focus {
  background-color: #ed9c28;
}

.navbar-warning .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-warning .navbar-collapse,
.navbar-warning .navbar-form {
  border-color: #d58512;
}

.navbar-warning .navbar-nav > .open > a,
.navbar-warning .navbar-nav > .open > a:hover,
.navbar-warning .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ed9c28;
}

.navbar-warning .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-warning .navbar-nav > .dropdown > a .caret {
  border-top-color: #eeeeee;
  border-bottom-color: #eeeeee;
}

.navbar-warning .navbar-nav > .open > a .caret,
.navbar-warning .navbar-nav > .open > a:hover .caret,
.navbar-warning .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-warning .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #d58512;
  }
  .navbar-warning .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee;
  }
  .navbar-warning .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-warning .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-warning .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-warning .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-warning .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ed9c28;
  }
  .navbar-warning .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-warning .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-warning .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}

.navbar-warning .navbar-link {
  color: #f5f5f5;
}

.navbar-warning .navbar-link:hover {
  color: #ffffff;
}

.navbar-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.navbar-danger .navbar-brand {
  color: #f5f5f5;
}

.navbar-danger .navbar-brand:hover,
.navbar-danger .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-danger .navbar-text {
  color: #f5f5f5;
}

.navbar-danger .navbar-nav > li > a {
  color: #f5f5f5;
}

.navbar-danger .navbar-nav > li > a:hover,
.navbar-danger .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.navbar-danger .navbar-nav > .active > a,
.navbar-danger .navbar-nav > .active > a:hover,
.navbar-danger .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #d2322d;
}

.navbar-danger .navbar-nav > .disabled > a,
.navbar-danger .navbar-nav > .disabled > a:hover,
.navbar-danger .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}

.navbar-danger .navbar-toggle {
  border-color: #ac2925;
}

.navbar-danger .navbar-toggle:hover,
.navbar-danger .navbar-toggle:focus {
  background-color: #d2322d;
}

.navbar-danger .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-danger .navbar-collapse,
.navbar-danger .navbar-form {
  border-color: #ac2925;
}

.navbar-danger .navbar-nav > .open > a,
.navbar-danger .navbar-nav > .open > a:hover,
.navbar-danger .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #d2322d;
}

.navbar-danger .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-danger .navbar-nav > .dropdown > a .caret {
  border-top-color: #eeeeee;
  border-bottom-color: #eeeeee;
}

.navbar-danger .navbar-nav > .open > a .caret,
.navbar-danger .navbar-nav > .open > a:hover .caret,
.navbar-danger .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-danger .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #ac2925;
  }
  .navbar-danger .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee;
  }
  .navbar-danger .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-danger .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-danger .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-danger .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-danger .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #d2322d;
  }
  .navbar-danger .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-danger .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-danger .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}

.navbar-danger .navbar-link {
  color: #f5f5f5;
}

.navbar-danger .navbar-link:hover {
  color: #ffffff;
}

.navbar-purple {
  background-color: #563d7c;
  border-color: #463265;
}

.navbar-purple .navbar-brand {
  color: #f5f5f5;
}

.navbar-purple .navbar-brand:hover,
.navbar-purple .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-purple .navbar-text {
  color: #f5f5f5;
}

.navbar-purple .navbar-nav > li > a {
  color: #cdbfe3;
}

.navbar-purple .navbar-nav > li > a:hover,
.navbar-purple .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #463265;
  border-color: #463265;
}

.navbar-purple .navbar-nav > .active > a,
.navbar-purple .navbar-nav > .active > a:hover,
.navbar-purple .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #463265;
}

.navbar-purple .navbar-nav > .disabled > a,
.navbar-purple .navbar-nav > .disabled > a:hover,
.navbar-purple .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}

.navbar-purple .navbar-toggle {
  border-color: #463265;
}

.navbar-purple .navbar-toggle:hover,
.navbar-purple .navbar-toggle:focus {
  background-color: #463265;
}

.navbar-purple .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-purple .navbar-collapse,
.navbar-purple .navbar-form {
  border-color: #463265;
}

.navbar-purple .navbar-nav > .open > a,
.navbar-purple .navbar-nav > .open > a:hover,
.navbar-purple .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #463265;
}

.navbar-purple .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-purple .navbar-nav > .dropdown > a .caret {
  border-top-color: #eeeeee;
  border-bottom-color: #eeeeee;
}

.navbar-purple .navbar-nav > .open > a .caret,
.navbar-purple .navbar-nav > .open > a:hover .caret,
.navbar-purple .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-purple .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #463265;
  }
  .navbar-purple .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee;
  }
  .navbar-purple .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-purple .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-purple .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-purple .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-purple .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #463265;
  }
  .navbar-purple .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-purple .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-purple .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}

.navbar-purple .navbar-link {
  color: #f5f5f5;
}

.navbar-purple .navbar-link:hover {
  color: #ffffff;
}

.btn-inverse {
  color: #999999;
  background-color: #222222;
  border-color: #080808;
}

.btn-inverse .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}
.dropup .btn-inverse .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}

.btn-inverse:hover .caret,
.btn-inverse:focus .caret,
.btn-inverse:active .caret,
.btn-inverse.active .caret,
.open .dropdown-toggle.btn-inverse .caret{
	border-top-color: #ffffff;
 	border-bottom-color: #ffffff;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #080808;
  border-color: #080808;
}

.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-image: none;
}

.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #222222;
  border-color: #080808;
}

.background-primary{
  color: #ffffff;
  background-color: #428bca;
}

.background-success {
  color: #ffffff;
  background-color: #5cb85c;
}

.background-info {
  color: #ffffff;
  background-color: #5bc0de;
}

.background-warning {
  color: #ffffff;
  background-color: #f0ad4e;
}

.background-danger {
  color: #ffffff;
  background-color: #d9534f;
}

.background-inverse {
  color: #999999;
  background-color: #222222;
}

.background-purple{
  color: #ffffff;
  background-color: #563d7c;
}

blockquote.blockquote-success{
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

blockquote.blockquote-danger{
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

blockquote.blockquote-warning{
	color: #c09853;
  	background-color: #fcf8e3;
  	border-color: #fbeed5;
}

blockquote.blockquote-info{
	color: #3a87ad;
  	background-color: #d9edf7;
  	border-color: #bce8f1;
}

@media screen and (max-width:1000px){
	.row{
		margin-right:0;
		margin-left:0;
	}
}

.text-left,
.text-left.control-label {
  text-align: left;
}

.text-right,
.text-right.control-label {
  text-align: right;
}

.text-center,
.text-center.control-label {
  text-align: center;
}

.text-underline,
.text-underline.control-label {
  text-decoration: underline;
}

.text-bold,
.text-bold.control-label {
	font-weight: bold;
}

.date input[readonly="readonly"]{
	background-color:#ffffff;
}

.list-group-primary .list-group-item{
	color: #428bca;
	border-color: #428bca;
}

.list-group-success .list-group-item{
	color: #5cb85c;
    border-color: #5cb85c;
}

.list-group-info .list-group-item{
	color: #5bc0de;
    border-color: #5bc0de;
}

.list-group-warning .list-group-item{
	color: #f0ad4e;
    border-color: #f0ad4e;
}

.list-group-danger .list-group-item{
	color: #d9534f;
    border-color: #d9534f;
}

/* basic menu styles */
.nav.block-menu {
    display: block;
    padding:0;
}
ul.nav.block-menu {padding:0;margin:0}

.nav.block-menu > li {
    display: table-cell;float:left;
    padding:0;margin:0;
}

.nav.block-menu > li > a {
    color: #fff;
    display: block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-transform: uppercase;
    overflow: visible;
    line-height: 20px;
    padding: 15px 10px;
    margin:0;
    text-align:center;
}

/* animation domination */
.nav.block-menu .three-d {
    -webkit-perspective: 200px;
    -moz-perspective: 200px;
    perspective: 200px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    position: relative;
}

.nav.block-menu .three-d:not(.active):hover {
    cursor: pointer;
}

.nav.block-menu .three-d:not(.active):hover .three-d-box, 
.nav.block-menu .three-d:not(.active):focus .three-d-box {
    -moz-transform: translateZ(-25px) rotateX(90deg);
    -webkit-transform: translateZ(-25px) rotateX(90deg);
    -o-transform: translateZ(-25px) rotateX(90deg);
    transform: translateZ(-25px) rotateX(90deg);
}

.nav.block-menu .three-d .three-d-box {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .2s ease-out;
    -webkit-transform: translatez(-25px);
    -moz-transform: translatez(-25px);
    -o-transform: translatez(-25px);
    transform: translatez(-25px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.nav.block-menu .three-d .three-d-box .front {
    -webkit-transform: rotatex(0deg) translatez(25px);
    -moz-transform: rotatex(0deg) translatez(25px);
    -o-transform: rotatex(0deg) translatez(25px);
    transform: rotatex(0deg) translatez(25px);
}

.nav.block-menu .three-d .three-d-box .back {
    -webkit-transform: rotatex(-90deg) translatez(25px);
    -moz-transform: rotatex(-90deg) translatez(25px);
    -o-transform: rotatex(-90deg) translatez(25px);
    transform: rotatex(-90deg) translatez(25px);
    color: #FFE7C4;
}

.nav.block-menu .three-d .three-d-box .front,
.nav.block-menu .three-d .three-d-box .back {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    padding: 15px 10px;
    color: #5e5e5e;
    pointer-events: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav.block-menu .three-d .three-d-box .back {color: #555555;background-color: #e7e7e7;}

.nav.block-menu.block-primary .three-d .three-d-box .front {color: #ffffff;background-color: #428bca;}
.nav.block-menu.block-primary .three-d .three-d-box .back {color: #ffffff;background-color: #3276b1;}

.nav.block-menu.block-success .three-d .three-d-box .front {color: #ffffff;background-color: #5cb85c;}
.nav.block-menu.block-success .three-d .three-d-box .back {color: #ffffff;background-color: #47a447;}

.nav.block-menu.block-info .three-d .three-d-box .front {color: #ffffff;background-color: #5bc0de;}
.nav.block-menu.block-info .three-d .three-d-box .back {color: #ffffff;background-color: #39b3d7;}

.nav.block-menu.block-warning .three-d .three-d-box .front {color: #ffffff;background-color: #f0ad4e;}
.nav.block-menu.block-warning .three-d .three-d-box .back {color: #ffffff;background-color: #ed9c28;}

.nav.block-menu.block-danger .three-d .three-d-box .front {color: #ffffff;background-color: #d9534f;}
.nav.block-menu.block-danger .three-d .three-d-box .back {color: #ffffff;background-color: #d2322d;}

.nav.block-menu.block-inverse .three-d .three-d-box .front {color: #ffffff;background-color: #222222;}
.nav.block-menu.block-inverse .three-d .three-d-box .back {color: #ffffff;background-color: #080808;}

.nav.block-menu.block-purple .three-d .three-d-box .front {color: #ffffff;background-color: #563d7c;}
.nav.block-menu.block-purple .three-d .three-d-box .back {color: #ffffff;background-color: #463265;}

.block-primary > .dropdown > a:hover .caret,
.block-success > .dropdown > a:hover .caret,
.block-info > .dropdown > a:hover .caret,
.block-warning > .dropdown > a:hover .caret,
.block-danger > .dropdown > a:hover .caret,
.block-inverse > .dropdown > a:hover .caret,
.block-purple > .dropdown > a:hover .caret  {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.block-primary > .dropdown > a .caret,
.block-success > .dropdown > a .caret,
.block-info > .dropdown > a .caret,
.block-warning > .dropdown > a .caret,
.block-danger > .dropdown > a .caret,
.block-inverse > .dropdown > a .caret,
.block-purple > .dropdown > a .caret {
  border-top-color: #eeeeee;
  border-bottom-color: #eeeeee;
}

@media screen and (max-width:767px){
    .nav.block-menu > li {
            display: block;float:left;
            width:100%;padding:0;margin:0;
        }
}

/* @media screen and (max-width:991px) and (min-width:768px){ */
/*     .nav.block-menu > li { */
/*             display: block;float:left; */
/*             width:50%;padding:0;margin:0; */
/*         } */
/* } */

.jumbotron-primary{
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.jumbotron-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.jumbotron-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.jumbotron-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.jumbotron-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.jumbotron-inverse {
  color: #999999;
  background-color: #222222;
  border-color: #080808;
}

.jumbotron-purple{
  color: #ffffff;
  background-color: #563d7c;
  border-color: #463265;
}

.jumbotron-white {
  color: #080808;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (max-width:991px){
    .affix,
    .affix-top,
    .affix-bottom{
        position:none;
    }
}

.text-primary{
  color: #428bca;
}

.text-success {
  color: #5cb85c;
}

.text-info {
  color: #5bc0de;
}

.text-warning {
  color: #f0ad4e;
}

.text-danger {
  color: #d9534f;
}

.text-inverse {
  color: #222222;
}

.text-purple{
  color: #563d7c;
}

.text-white{
  color: #ffffff;
}

.badge-primary {
  background: #428bca;
}

.badge-success {
  background: #5cb85c;
}

.badge-info {
  background: #5bc0de;
}

.badge-warning {
  background: #f0ad4e;
}

.badge-danger {
  background: #d9534f;
}